<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Trackdays Payments</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Your custom CSS styles here */
        /* Add any custom styling here */
    </style>
</head>
<body>
    <div class="container">
        <h1>Company Trackdays Payments</h1>
        <a href="{% url 'edit_company' %}" class="btn btn-primary">Edit Company</a>
        <a href="{% url 'change_password' %}" class="btn btn-primary">Change Password</a>
        <br><br>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Company Name</th>
                    <th>Trackday Date</th>
                    <th>Trackday Fee (in Rupees)</th>
                    <th>Action</th> <!-- New column for action button -->
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ registration.company_name }}</td>
                    <td>{{ registration.trackday_date }}</td>
                    <td>₹2000.00</td>
                    <td>
                        {% if not payment_successful %}
                            <a href="{% url 'initiate_payment' %}" class="btn btn-success">Pay Now</a>
                        {% else %}
                        <a href="{% url 'cancel_companybooking' registration.id %}" class="btn btn-danger">Cancel Company Booking</a>

                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
